* {
    margin: 0;
    padding: 0;
    font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', '黑体', 'Arial', 'sans-serif';
    font-style: normal;
}

a {
    text-decoration: none;
}

input {
    border: 0;
    background: none;
    outline: none;
}

#title_box {
    height: 40px;
    background-color: #202020;
    display: flex;
    align-items: center;
    width: 100%;
}

.top_title {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.ib {
    display: inline-block;
}

.title_left {
    flex-grow: 1;
    margin-left: 10px;
}

.title_right {
    display: flex;
    align-items: center;
}

.txt {
    color: #666666;
    text-align: center;
}

.normal-text {
    color: #b4b6bf;
    height: 17px;
    font-size: 12px;
    margin-right: 20px;
}

.normal-text:hover {
    color: #337ab7;
}

.qrCode-anchor {
    position: relative;
}

.hide {
    display: none;
}

.service_phone {
    position: relative;
    color: #333333;
    font-size: 18px;
    margin: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.favor {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.favor .lighten {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
}

.favor .lighten:hover {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
}

.service_phone .phoneimg {
    background: url(../img/tel.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background-size: 24px 24px;
    display: inline-block;
}

/* 浮动标题 */

#float_title_box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#float_title_box2 {
    height: 70px;
}

#float_title {
    width: 1170px;
    display: flex;
    margin: 0px auto;
    height: 70px;
    align-items: center;
    position: relative;
}

.logo {
    width: 58px;
    height: 32px;
}

#select_city {
    width: 68px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.search_box {
    width: 480px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 15px;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.headerPosition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1170px;
    z-index: 10;
}

#swiper_top {
    width: 100%;
    min-width: 1170px;
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
}

.swiper_position {
    display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    right: 50px;
    z-index: 10;
}

.swiper_top_info {
    width: 100%;
    height: 700px;
}

.swiper_top_info image{
    object-fit: fill;
}

.swiper-pagination-bullet {
    margin-right: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    z-index: 10;
}

#swiper_map_box .swiper-pagination-bullet {
    margin: 0 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    z-index: 10;

}

.info_box {
    position: absolute;
    background: rgba(255, 255, 255, .9);
    z-index: 10;
    width: 374px;
    height: 581px;
    right: 53%;
    top: 60px;
    display: flex;
    flex-direction: column;
}

.info_title {
    font-size: 36px;
    line-height: 36px;
    color: #696a6b;
    margin: 47px 27px 0 27px;
}

.info_subtitle {
    font-size: 24px;
    line-height: 30px;
    color: #626364;
    margin: 18px 27px 0 27px;
}

.info_content {
    font-size: 16px;
    line-height: 27px;
    color: #8a8787;
    margin: 28px 30px 28px 30px;
    flex: 1;
}


.top_img_box {
    width: 100%;
    height: 40.26vw;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.introduce_box {
    margin: 140px auto 0px auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.group_introduce_text {
    text-indent: 28px;
    font-size: 14px;
    line-height: 1.86;
    color: #666;
    margin-top: 20px;
}

#swiper01 {
    width: 900px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-contrast {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.swiper-contrast .fl img {
    width: 148px;
    height: auto;
    flex-shrink: 1;
    opacity: 0.5;
}

.swiper-contrast .current img {
    opacity: 1.0;
}

.project_introduc_box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 22%;
}

.project_introduc_img_box {
    width: 180px;
}

.project_introduc_img {
    width: 180px;
}

.project_introduc_text_box {

}

.project_introduc_title {
    line-height: 28px;
    font-size: 20px;
    font-weight: 300;
    color: #111;
}

.project_introduc_text {
    font-size: 14px;
    line-height: 1.86;
    text-align: left;
    color: #8c8c8c;
    margin-top: 20px;
    text-indent: 28px;
}

/*项目轮播图*/

.project_box {
    width: 100%;
    margin: 140px auto 0 auto;
}

/*项目*/

.move_project_box {
    width: 900px;
    margin: 140px auto 0px auto;
}

.move_project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.example_box {
    display: inline-flex;
    flex-direction: column;
}

.example_box img {
    width: 270px;
    height: 360px;
}

.example_box .example_title {
    line-height: .93;
    font-weight: 500;
    font-size: 24px;
}

.example_box .example_text {
    line-height: .93;
    font-weight: 500;
    font-size: 28px;
}

.example_box .price_end {
    line-height: 20px;
    font-size: 14px;
}

/*地图*/
.map_box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

#swiper_map_box {
    width: 100%;
    overflow: hidden;
    height: 700px;
    position: absolute;
    top: 0;
}

#swiper_map_box #swiper_map .swiper-slide {
    display: block;
    height: 700px;
    width: 100%;
}

.swiper_iamge {
    overflow: hidden;
}

.image_map_swiper {
    display: block;
    height: 700px;
    width: 100%;
}

/*底部*/
.footer_box {
    width: 100%;
    background: #202020;
    padding: 30px 0;
}

.suspension {
    width: 48px;
    height: 48px;
    /*background: #a5b9c2;*/
    background: #E3E3E3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.side_contact {
    z-index: 10;
}

.item_wx {
    right: 10px;
    bottom: 40px;
    z-index: 10;
}

.item_phone {
    right: 68px;
    bottom: 40px;
    z-index: 10;
}

.suspension img {
    width: 36px;
    height: 36px;
}

.item_phone_detail {
    position: fixed;
    right: 10px;
    bottom: 95px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 84px;
    width: 140px;
    color: #555555;
    font-size: 12px;
    padding: 10px 0;
    box-shadow: 0 0 5px 0px rgba(200, 200, 200, 100);
    z-index: 10;
}

.item_phone_detail div {
    text-align: center;
}

.item_wx_detail div {
    text-align: center;
}

.service_text {
    font-size: 16px;
    font-weight: 600;
}

.item_wx_detail {
    position: fixed;
    right: 10px;
    bottom: 95px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 144px;
    width: 120px;
    color: #555555;
    font-size: 12px;
    padding: 10px 0;
    box-shadow: 0 0 5px 0px rgba(200, 200, 200, 100);
    z-index: 10;
}

.clickable:hover {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_tiling {
    width: 100%;
}

.box_center {
    width: 1182px;
}

.banner {
    width: 100%;
    height: 500px;
}

.box_center .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 70px 0;
}

.box_center .title span {
    display: block;
    font-size: 35px;
    line-height: 35px;
    color: #3e3c3c;
}

.box_center .title .line {
    height: 1px;
    background: #aaaaaa;
    margin-top: 14px;
}

.project_intro {
    display: flex;
    flex-direction: row;
}

.project_intro .left_img {
    width: 274px;
    height: 398px;
}

.project_intro .right_img {
    width: 295px;
    height: 399px;
}

.project_intro .txt {
    flex: 1;
    margin-left: 42px;
    margin-right: 52px;
}

.project_intro .txt .title {
    display: block;
    width: 100%;
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
    color: #000;
    margin: 0;
    text-align: center;
}

.project_intro .txt .content {
    display: block;
    font-size: 14px;
    line-height: 25px;
    margin-top: 50px;
    color: #777373;
    text-align: left;
    text-align: -webkit-left;
}

.read_more {
    display: block;
    width: 196px;
    height: 50px;
    background: #425383;
    line-height: 50px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    margin: 80px auto 170px auto;
}

.read_more:visited {
    color: #ffffff;
}

.net_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.net_item {
    display: flex;
    flex-direction: column;
}

.net_item img {
    width: 430px;
    height: 285px;
}

.net_row span {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.hot_rental {
}

.hot_rental_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
}

.hot_rental_item {
    display: flex;
    width: 331px;
    flex-direction: column;
    padding-bottom: 50px;
    box-shadow: 0 0 20px #e6e6e6;
}

.hot_rental_item img {
    width: 331px;
    height: 219px;
}

.hot_rental_item .name {
    display: block;
    margin: 23px 25px 0 25px;
    color: #5b5e66;
    font-size: 32px;
}

.hot_rental_item .address {
    display: block;
    margin: 23px 25px 0 25px;
    color: #626364;
    font-size: 19px;
}

.hot_rental_item .location {
    display: block;
    margin: 20px 25px 0 25px;
    color: #5b5e66;
    font-size: 16px;
}

.hot_rental_item .description {
    display: block;
    height: 60px;
    margin: 25px 25px 0 25px;
    color: #999999;
    font-size: 13px;
}

.hot_rental_item .price_txt {
    display: inline-block;
    margin: 0 0 0 25px;
    color: #999999;
    font-size: 23px;
}

.hot_rental_item .price {
    display: inline-block;
    color: #999999;
    font-size: 23px;
    text-decoration: line-through;
}

.hot_rental_item .s_price {
    display: inline-block;
    margin: 0 0 0 33px;
    color: #de6e00;
    font-size: 34px;
}

.life_format {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.life_format_item {
    display: flex;
    flex-direction: column;
}

.life_format img {
    width: 270px;
    height: 182px;
}

.life_format span {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.swiper-pagination-bullet {
    background: #FFFFFF;
    width: 10px;
    height: 10px;
    opacity: 1;
}


.swiper-pagination-bullet-active{
    background: #FFFFFF;
    width: 20px;
    border-radius: 5px;
}